div {
    text-align: center;
    background-color: black;
    color: white;
}
a: link{
    text-decoration:none;
    color:black;
    }
    
    a:visited{
    text-decoration:none;
    color:rgb(247, 248, 247);
    }
    
    a:hover{
    text-decoration:none;
    colorink; 
    }
    
    a:active{
    text-decoration:none;
    color:rgb(2, 112, 222);
    }